

body{
  background-color:#FFFFFF;
  background:linear-gradient(rgba(99,94,94,0.5),rgba(99,94,94,0.5)),url(../img/cover.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.login-box{
  max-width:700px;
  float:none;
  margin:150px auto;

}

.login-left{
  background: rgba(211,211,211,0.5);
  padding:30px;
}

.login-right{
  background: rgba(211,211,211,0.5);
  padding:30px;
}

.login-right{
  background: #fff;
  padding:30px;
}

.form-control{
  background-color: transparent !important;
}
