
/*Font faces*/
@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSanspro-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Bold.ttf);
  font-weight:bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Italic.ttf);
  font-style:italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
  font-weight:100;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf);
  font-weight:100;
  font-style:italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Light.ttf);
  font-weight:200;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Light_1.ttf);
  font-weight:300;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-LightItalic.ttf);
  font-weight:200;
  font-style:italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
  font-weight:500;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
  font-weight:500;
  font-style:italic;
}

@font-face{
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Black.ttf);
  font-weight:600;
}

@font-face{
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-BlackItalic.ttf);
  font-weight:600;
  font-style:italic;
}


/*Body*/
body{
  font-family:SourceSansPro;
  font-weight:200;
  /*line-height:1.5;*/
  min-width: 280px;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color:#f5f5f5;
}


/*Global*/
.container{
  overflow:hidden;
  height: 100%;
  width:100%;
  margin:auto;
  text-align: center;
}

ul{
  margin:0;
  padding:0;
}


/*Header*/
header{
  z-index: 1;
  background:#635e5e;
  height:80px;
  width:100%;
  position: fixed;
  color:#ffffff;
  /*padding-top:30px;*/
  /*min-height:70px;*/
  /*border-bottom:#3e412d 3px solid;*/

}

header h1{
  padding:0;
  margin: 0;
  font-weight: 100;
}
header a{
  color:#ffffff;
  text-decoration:none;
}

header #branding{
  float:left;
  margin-left: 2%;
  margin-top: 25px;
  color:#bbbbbb;
}


/*Header navigation*/
header nav{
  float:right;
  margin-top: 20px;
  margin-right: 5%;

}

header li{
  float:left;
  display:inline;
  border-color: white;
  border:1px solid;
  padding: 10px;
  border-radius: 4px;
  /*padding:0 20px 0 20px;*/
}

header li:hover{
  background-color:rgba(255,255,255,0.3);
  /*Asked in task but looks better without it *transition-delay:0.4s;*/
}

header #l1{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

header #l2{
  border-radius: 0px;
}

header #l3{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*Showcase*/
#showcase{
  height: 700px;
  background: /* i have converted hex background into rgb*/
  linear-gradient(
      rgba(102,102,102,0.1),
      rgba(102,102,102,0.2)
    ),
    url(../img/overlay.png),
    url(../img/cover.jpg);



    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner{
  text-align: center;
  padding-top: 280px; /*40%*/
  color:#ffffff;
  width: 100%;

}

#banner h1{
  margin:0;
  padding:0;
  margin-bottom: 15px;
  font-size: 2.5em;
  font-weight: 100;

}

#banner p{
  margin-bottom: 40px;
}

.button_1{
  padding-left:40px;
  padding-right:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#323131;
  background-color:#bbbbbb;
  border:1px solid white;
  border-radius: 4px;
}

.button_1:hover{
  background-color:#ffffff;
  color:#323131;
}

.button_2{
  padding-left:28px;
  padding-right:28px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#4e4c4c;
  background-color:#ffffff;
  border:1px solid white;
  border-radius: 4px;
}

.button_2:hover{
  background-color:#efefef;
  color:#323131;
}
/*.white1{
  color:#323131;
}
.white2{
  color:#4e4c4c;
}*/

@media screen and (max-witdth: 400px){

  header nav{
    float:none;
    display:block;
    width:100%;
  }
  header {
    height:160px;
  }


}


/*Main information part*/
#mainPart{

  width:70%;
  margin:auto;
  position: relative;
  top:-100px;
  text-align: center;
  color:#786F6F;
  border-radius: 4px;
}
#introduction{
  width:100%;
  background-color:#fff;
  text-align: center;
  border-radius: 4px;
}
#heading{
  margin:auto;
  color:#786F6F;
  width:60%;
  padding-top:50px;
  padding-bottom:50px;
  border-bottom:1px solid #bbbbbb;
}

#mainheading {
  font-size:2em;
  font-weight:100;
  line-height:1.5em;

}

#paragraph{
  margin:auto;
  padding-top:50px;
  padding-bottom:50px;
  width:60%;
  line-height:1em;
}


#firstImg img{
  width:100%;
  height:300px;
  border-radius: 1px;
}


#ribbons{
  width:100%;
  background-color:#fff;
  text-align: center;
  border-radius: 4px;
  /*margin: auto;
  text-align: center;*/
  margin-top: 30px;
  display:inline-block;
  /*background-color:#fff;
  border-radius: 4px;*/
}

.cells{
  background-color: #FFFFFF;
  height: 300px;
  width:45%; /*cant do 50% because of paddings*/
  padding:10px;
}

.housepict{
  width:70px;
  height:70px;
}
.housepict:hover{
  width:77px;
  height:77px;
}
#first{
float: left;
  /*border-bottom:1px solid #bbbbbb;
  border-right:1px solid #bbbbbb;*/
}
#second{
float: left;

  /*border-left:1px solid #bbbbbb;
  border-bottom:1px solid #bbbbbb;*/
}
#third{
float: left;

  /*border-right:1px solid #bbbbbb;
  border-top:1px solid #bbbbbb;*/
}
#fourth{
float: left;
  /*border-top:1px solid #bbbbbb;
  border-left:1px solid #bbbbbb;*/
}

#firstribbon{
  padding:10px;
}

#secondribbon{
  padding:10px;
}
#thirdribbon{
  padding:10px;
}
#fourthribbon{
  padding:10px;
}

#ribbons h3{
  width:100%;
  font-weight: 200;
  font-size: 1.5em;
  margin-top:25px;
  margin-bottom: 25px;
}

#ribbons p{
  width:100%;

}

.callTheAction{
  margin-top: 30px;
}

#callTheActionLeft{
  float:left;
  background-color: #FFFFFF;
  width:48%;

}

#callTheActionRight{
  float:right;
  background-color: #FFFFFF;
  width:48%;
}

#callTheActionLeft h3{
  font-weight: 200;
  font-size: 1.5em;
  margin-top:25px;
  margin-bottom: 25px;
}

#callTheActionRight h3{
  font-weight: 200;
  font-size: 1.5em;
  margin-top:25px;
  margin-bottom: 25px;
}

#pictureCallTheActionLeft{
  filter: grayscale(100%);
  width: 100%;
  border-radius: 4px;
}

#pictureCallTheActionRight{
  filter: grayscale(100%);
  width: 100%;
  border-radius: 4px;
}

#pictureCallTheActionLeft:hover{
  filter: grayscale(0%);
}

#pictureCallTheActionRight:hover{
  filter: grayscale(0%);
}

#firstGray{
  width: 100%;
  border-radius: 2px;
}

#secondGray{
  width:100%;
  border-radius: 2px;
}

.button_3{
  margin-top: 10px;
  margin-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#ffffff;
  background-color:#bbbbbb;
  border:1px solid white;
  border-radius: 4px;
}

.button_3:hover{
  background-color:#f3f3f3;
  color:#4b4949;
}

.button_4{
  margin-top: 10px;
  margin-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#ffffff;
  background-color:#bbbbbb;
  border:1px solid white;
  border-radius: 4px;
}

.button_4:hover{
  background-color:#f3f3f3;
  color:#4b4949;
}

/*Footer*/
footer{
  background-color: #D8D8D8;
  text-align: center;
}

#smallPictures{
  padding-top: 12px;
  margin-top: 20px;
  
}

#last{
  padding-bottom: 20px;
}

#last a{
  color:white;
  text-decoration:none;
}

#lastPicture:hover{
  filter: grayscale(100%);
}
